<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402523891875-esig47apbs19q9jub2pceo74ca9ifc59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402523891875-esig47apbs19q9jub2pceo74ca9ifc59</string>
	<key>API_KEY</key>
	<string>AIzaSyBWc4BHOdaz6PW7Fy5OAa7E4G4cyZP1BoM</string>
	<key>GCM_SENDER_ID</key>
	<string>402523891875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.messagingFirestoreVn</string>
	<key>PROJECT_ID</key>
	<string>messaging-vn</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-vn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402523891875:ios:3ed2e1e5936468d3</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-vn.firebaseio.com</string>
</dict>
</plist>